homework1/homework1.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-decisionbound.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-mixture-probagap.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/logistic-newton-convergence.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/logisticreg-result.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-decisionbound-dB.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/logisticreg-result-dC.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/qda-cloud-decision-dC.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/linearreg-result-dB.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/qda-cloud-decision-dA.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-mixture-probagap-dB.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/logisticreg-result-dA.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/misclassification-with-qda.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/logisticreg-result-dB.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/misclassification.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-decisionbound-dA.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-decisionbound-dC.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-mixture-probagap-dA.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/lda-pointcloud-mixture-probagap-dC.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/linearreg-result-dA.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/linearreg-result-dC.pdf filter=lfs diff=lfs merge=lfs -text
homework1/images/qda-cloud-decision-dB.pdf filter=lfs diff=lfs merge=lfs -text
